<main>
	<br>
	<div class="container">
		<nav class="navbar navbar">
			<span class="ptwHeader">Pin the World <img src="/public/img/pin.png" height="32"></span>
			<ul class="nav navbar-nav">
				<li class="nav-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
					<a class="nav-link"><span class="ptwMenuItem">Home</span></a>
				</li>
				<li class="nav-item" routerLink="/highscores" routerLinkActive="active">
					<a class="nav-link"><span class="ptwMenuItem">Highscores</span></a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="container">
		<router-outlet></router-outlet>
	</div>
</main>
