<div>
	<form>
		<div class="form-group">
			<legend>Game mode: </legend>
			<div class="form-check">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="option" [(ngModel)]="myDifficulty"
						   [value]="1">
					Easy
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="option" [(ngModel)]="myDifficulty"
						   [value]="2">
					Difficult
				</label>
			</div>
		</div>
	</form>
</div>
<div>
    <h4>Games: </h4>
    <div class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="player name..." [(ngModel)]="myPlayerName">
            </div>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" (click)="createRoom()">Create new game</button>
        </div>
    </div>
</div>