<main>
	<h2>Highscores Component</h2>
	<button type="button" (click)="getScores('ahZkZXZ-cGludGhld29ybGQtMTQ2NjE1chELEgRHYW1lGICAgICAgLAKDA')">Get Scores</button><!-- Implement this to sum for all games, its only returning for one -->
	<div>
		<h3>Scores For The Game:</h3><br>
		<ul class="list-group">
		<li class="list-group-item" *ngFor="let gamescore of gamescores">
			Name: {{ gamescore.player.name }}
			<span class="badge">Score: {{ gamescore.score }}</span>
		</li>
		</ul>
	</div>
	
	<button type="button" (click)="getHighscores()">Get Highscores</button>
	<div>
		<h3>Top 10 Highscores</h3><br />
		<ul class="list-group">
		<li class="list-group-item" *ngFor="let highscore of highscores">
			Player: {{highscore.player.name}}
			<span class="badge">Score: {{highscore.score}}</span>
		</li>
		</ul>
	</div>
</main>