<h2>Home Component</h2>

<div style="width:100%;">

		City Service<br>
    <button type="button" (click)="getCities()">Get cities</button>
    <button type="button" (click)="deleteCities()">Delete all cities</button>
    <br><br>
    <label>name:</label><input [(ngModel)]="myName" type="text"><br>
    <label>long:</label><input [(ngModel)]="myLong" type="number"><br>
    <label>lat:</label><input [(ngModel)]="myLat" type="number"><br>
    <button type="button" (click)="createCity()">Create new city</button>
    <br><br>

	<br><br>
	Player Service<br>
	<button type="button" (click)="getPlayers()">Get players</button>
	<button type="button" (click)="deletePlayers()">Delete all players</button>
	<br><br>
	<player-component></player-component>

	<div>
		<h3>Get result from Database:</h3><br>
		<div *ngFor="let player of players">
			Player: {{ player.name }}
		</div>
	</div>

	<div>
        <div *ngFor="let city of cities">
            City: {{ city.name }}: {{ city.lat }}/{{ city.long }}
        </div>
    </div>

</div>
