<div class="row">
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary" (click)="getGames()">Search for Games</button>
    </div>
</div>
<div>
    <div *ngFor="let game of games" class="row">
        <span class="col-sm-3">Game created by: {{game.players[0].name}}</span>
        <span class="col-sm-3">Number of players: {{game.players.length}}</span>
        <div class="col-sm-2">
            <button type="button" (click)="join(game.id)" class="btn btn-primary">Join</button>
        </div>
    </div>
</div>
