<sebm-google-map
                 [latitude]='0' 
                 [longitude]='0'
                 [zoom]='2' 
                 [disableDefaultUI]="false"
                 [zoomControl]="false"
                 (mapClick)="mapClicked($event)">
    <sebm-google-map-marker 
                        *ngFor="let m of markers; let i = index"
                        (markerClick)="clickedMarker(m.label, i)"
                        [latitude]="m.lat"
                        [longitude]="m.lng"
                        [label]="m.label"
                        [markerDraggable]="m.draggable"
                        (dragEnd)="markerDragEnd(m, $event)">
    </sebm-google-map-marker>
</sebm-google-map>