.map-wrapper {
    margin-top: 10px;
    margin: auto;
    width: 100%;
}

.players-legend {
    margin-top: 10px;
}

.city-label {
    text-align: center;
}

.msg {
    text-align: right;
}

.sebm-google-map-container {
    height: 500px;
    width: 100%;
}

p {
    color: black;
    font-size: 18px;
}

.player-icon {
    height: 18px;
    margin-right: 5px;
}