main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}
.sebm-google-map-container{
    position: absolute;
    padding-left: 20px;
    height: 550px;
    width: 900px;
}