<div class="row" style="height: 43px">
    <div class="col-sm-3">
        <h4><span class="tag tag-default">Score</span> {{currentScore.toFixed(2)}}</h4>
    </div>
    <div class="col-md-6 city-label">
        <h2 *ngIf="currentRound >= 0">{{game.cities[currentRound].name}}</h2>
    </div>
    <div class="col-sm-3 msg">
        {{msg}}
    </div>
</div>

<div class="map-wrapper">
    <sebm-google-map
            [latitude]='0'
            [longitude]='0'
            [zoom]='2'
            [disableDoubleClickZoom]="true"
            [zoomControl]="false"
            [scrollwheel]="true"
            [streetViewControl]="false"
            [styles]="styleOfMap"
            (mapClick)="mapClicked($event)">
        <sebm-google-map-marker
                *ngFor="let m of markers; let i = index"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [iconUrl]="m.img">
        </sebm-google-map-marker>
        <sebm-google-map-marker
                *ngFor="let cm of cityMarkers; let i = index"
                [latitude]="cm.lat"
                [longitude]="cm.lng">
            <sebm-google-map-info-window id='info_window0'
                                         *ngFor="let info of infoWindows; let i = index"
                                         [isOpen]="info.isOpen" #window><p [innerHTML]="info.details"></p>
            </sebm-google-map-info-window>
        </sebm-google-map-marker>
        <sebm-google-map-marker
                *ngFor="let pm of playerMarkers; let i = index"
                [latitude]="pm.lat"
                [longitude]="pm.lng"
                [iconUrl]="pm.img">
            <sebm-google-map-info-window id='info_window1'
                                         *ngFor="let info of playerInfo; let i = index"
                                         [isOpen]="info.isOpen" #window><p [innerHTML]="info.details"></p>
            </sebm-google-map-info-window>
        </sebm-google-map-marker>
    </sebm-google-map>

</div>
<div class="players-legend">
    Players: <span *ngFor="let n of playerMarker; let i = index" style="margin-right: 15px;"><img
        class="player-icon"
        src="https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=|{{n.color}}">{{n.name}}</span>
</div>