<div>
    <div class="row">
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="name..." [(ngModel)]="myPlayerName">
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" (click)="createplayer()">Confirm</button>
        </div>
        <div align="center"><img src="/public/img/257207-1612160Z43439.png" height="500"></div>
    </div>
</div>
